.feedbackButton{
    background-color:var(--color-black);
    color: var(--color-primary);
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    width: 10.6rem;
    height: 47px;
    border-radius: 12px;
    margin-right: 1.25rem;
    padding: 10px 16px;
}

@media screen and (max-width: 900px) {
    .feedbackButton{
        display:none;
    }
}
