.imageConatiner {
    background-color: var(--color-primary); 
    position: relative;
    width:67px;
    height:34px;
    padding:10px;
    margin-left: 20px;
}

.headphoneImg{
    position: absolute;
     left: 3px;
      top: 0;
}