.section{
    height: 848px;
    margin-left:32px;
    margin-right:32px;
}

.sectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;

}
.sectionTitle{
    color: var(--color-white);
    font-weight: 600;
    font-size: 20px;
}

.showButton{
    background-color: var(--color-black);
    color: var(--color-primary);
    border: none;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
}



